<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Évènements de la SAM aujourd'hui</title>
</head>
<body>
    <p>Rappel, aujourd'hui ont lieu le(s) évènement(s) suivant(s) :</p>
    <ul>
        {{#each events}}
            <li>{{title}} le {{dateStart}}, {{location}}</li>
        {{/each}}
    </ul>
    <p>Ceci est un mail automatique, vous pouvez y répondre directement, le message sera transmis sur la sam-liste.</p>
    <p>Bien cordialement.</p>
</body>
</body>
</html>