@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-sans;
        /*@apply text-surface;*/
        @apply bg-white;
    }
    html.dark {
        @apply text-neutral-50;
        @apply bg-body-dark;
    }
}

body {
    @apply overflow-x-hidden antialiased;

}

p {
    @apply leading-[1.6];
}
